@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');

:root{
  --poppins-ft: "Poppins", sans-serif;
  --rubik-ft: 'Rubik Moonrocks', sans-serif;
  --transition-500ms: all 500ms ease-in-out;
  --padding-top: 100px;
  --padding-bottom: 50px;
  --main-color: #0D0A0C;
}

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body{
  line-height: 1.7;
}

html{
  font-size: 16px;
}

p{
  margin: 1rem 0;
}

img{
  max-width: 100%;
  display: block;
}

i{
  color: #000;
}

/* Showcase Grid */

.showcase{
  display: grid;
  grid-template-columns: 1fr 4fr;
}

/* Header & Navbar */

.navbar{
  position: fixed;
  background: #fff;
  padding: 1rem;
  height: 100%;
  border-right: 1px dashed #BBBCDC;
}

.logo{
  color: #0D0A0C;
  font-size: 2rem;
  font-family: var(--rubik-ft);
}

.nav-list{
  margin: 1rem 0;
}

.nav-list a{
  display: inline-block;
  margin: 1rem 0;
  color: var(--main-color);
}

/* Showcase Gallery */

#work{
  padding: 2rem 0;
}

.showcase-img{
  min-height: 50vh;
  background: url("images/bg-img.jpg") no-repeat center / cover;
  background-attachment: fixed;
}

.gallery-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.gallery-container .img-box{
  overflow: hidden;
  cursor: pointer;
  transition: 200ms all ease-in-out;
}

.gallery-container .img-box img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 200ms all ease-in-out;
}

.gallery-container .img-box:nth-child(even) {
  transform: translateY(-100px);
}

.gallery-container .img-box:hover{
  background: #000;
  padding: 1rem;
}

/* .gallery-container .img-box img:hover{
  transform: scale(1.2);
} */

/* About */

#about{
  padding-top: 100px;
}

.left-img img{
  height: 100%;
  width: 100%;
}

.right-text h1{
  font-size: 2rem;
  font-weight: 300;
}

.right-text h1 span{
  font-size: 3rem;
  font-weight: bold;
  color: #0D0A0C;
}

.right-text p {
  line-height: 2;
}

/* Contact */

#contact{
  padding: 2rem 0;
}

.contact-left .email h3{
  font-size: 3rem;
  font-weight: 300;
}

.contact-left .email p{
  font-size: 1.5rem;
  margin: 0 0 2rem 0;
}

.social a {
  margin-right: 30px;
}

.social a:nth-child(1) i {
  color: #1877F2;
}

.social a:nth-child(2) i {
  color: #E4405F;
}
.social a:nth-child(3) i {
  color: #1DA1F2;
}


.social a i{
  font-size: 1.5rem;
}

/* Footer */

footer{
  background: #000;
  color: #fff;
}

.inner-footer{
  padding: 1rem 0;
  text-align: center;
}

.inner-footer p{
  margin: 0.5rem 0;
}

.inner-footer p:last-child{
  font-weight: bold;
}

.inner-footer h3{
  font-family: var(--poppins-ft);
  font-size: 2rem;
  font-weight: 300;
}

/* Uti */

.container{
  max-width: 90%;
  margin: 0 auto;
  padding: 0 30px;
}

.text-lead h1{
  font-size: 3rem;
  position: relative;
  font-weight: 300;
  padding: 2rem 0;
}

.text-lead h1::after{
  content: "";
  height: 2px;
  width: 20%;
  background: #000;
  display: block;
}

.grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.btn{
  display: inline-block;
  padding: 7px 19px;
  border: 1px solid #000;
  color: #000;
  transition: var(--transition-500ms);
}

.btn:hover{
  color: #fff;
  box-shadow: inset 7rem 0 black;
}

.center{
  text-align: center;
}

/* Padding & Margin */

.py-2{
  padding: 2rem 0;
}

/* Media */

@media (max-width: 898px){
  html{
    font-size: 20px;
  }
  body{
    border-right: 1px dashed #BBBCDC;
  }
  .showcase{
    grid-template-columns: 1fr;
  }
  .grid{
    grid-template-columns: 1fr;
  }
  .sidebar{
    text-align: center;
  }
  .gallery-container{
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
  }
  .gallery-container .img-box:nth-child(even) {
    transform: translateY(0);
  }
  .navbar{
    background: #fff;
    position: static;
    top: 0;
    left: 0;
    padding: 2rem;
    z-index: 99;
    min-height: 100%;
    border-right: none;
  }
}
